body {
  background-color: #cccccc;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border-color: #FCCF03;
  border-style:ridge;
  border-width: 3px;
  padding: 5px;
}

h1, h2 {
  color: #4c3961;
}

h1 {
  text-align: center;
}

p.board {
  text-align: center;
}
